.button {
    border-radius: 3px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5px 24px;
    gap: 10px;
    width: 132px;
    height: 30px;
    border: none;
}

.disabled {
    color: #8b9097;
    opacity: 0.5;
    background-color: #004D99;
}

.secondary {
    color: #0066CC;
    background-color: #FFFFFF;
    border: 2px solid #0066cc;
    Width: 160px;
    Height: 30px;

}

.default {
   background-color: #0066CC;
    color: #FFFFFF;
    Width: 132px;
    Height: 30px;

}

.red {
    background: #CC1439;
    color: #FFFFFF;

}

.default:hover {
    color: #0080FF;
}

.red:hover {
    background: #FF1A47;
    color: #FFFFFF;
}

.secondary:hover {
    color: #E5F0FA;
    border: 1px solid #0066cc;
}


.default:active {
    color: #0059B2;
}

.secondary:active {
    color: #C9E5FF;
    border: 1px solid #0066CC;
}

.red:active {
    color: #B21232;
}

.button:disabled {
    background: #004D99;
    opacity: 0.5;
}
